<table class="table table-hover  table-striped">
    <thead>
        <tr>
            <th style="width: 35%;">School Name</th>
            <th>Address</th>
            <th>Registed students</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody *ngIf="schools.length !== 0" infinite-scroll [infiniteScrollDistance]="scrollDistance"
        [infiniteScrollUpDistance]="scrollUpDistance" [infiniteScrollThrottle]="throttle" (scrolled)="onScrollDown()"
        (scrolledUp)="onUp()">
        <tr *ngFor="let school of schools">
            <td>{{ school.name}}</td>
            <td>
                <div>
                    <span class="scl-list-address-label"> Street </span> : <span class="scl-list-address-value">{{
                        school.address.street}} </span> <br>
                    <span class="scl-list-address-label"> City </span>: <span class="scl-list-address-value">{{
                        school.address.suburb}} </span><br>
                    <span class="scl-list-address-label"> State </span>: <span class="scl-list-address-value">{{
                        school.address.state}} </span><br>
                    <span class="scl-list-address-label"> Post code </span>: <span class="scl-list-address-value">{{
                        school.address.postcode}}</span>
                    <br>
                </div>
            </td>
            <td>
                {{ school.registedStudents }}
            </td>
            <td>
                <button (click)="updateHandler( school )" data-toggle="modal" type="button"
                    data-target="#exampleModalCenter" type="button" class="btn btn-info mb-2">
                    Update
                </button>
                <br>
                <button data-toggle="modal" data-target="#deleteSchool" type="button" class="btn btn-danger"
                    (click)="deleteHandler( school )">
                    Delete
                </button>
            </td>
        </tr>
    </tbody>
    <div *ngIf="schools.length === 0">
        No schools
    </div>
</table>