<body>
  <!-- Navbar (sit on top) -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- About Section -->
  <div class="w3-container w3-center" style="padding:60px 16px;align-content: center;" id="about">
    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebarprofile">
      <br>
      <div class="w3-container">
        <a (click)="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
          <i class="fa fa-remove"></i>
        </a>
        <img src="https://bootdey.com/img/Content/avatar/avatar6.png" style="width:45%;" class="w3-round">
        <br>
        <br>
        <h4>
          <b>Chanaka Sampath</b>
        </h4>
      </div>
      <div class="w3-bar-block">
        <a routerLink="/schools" (click)="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal">
          <i class="fa fa-paper-plane fa-fw w3-margin-right"></i>Schooles</a>
        <a routerLink="/new" (click)="w3_close()" class="w3-bar-item w3-button w3-padding">
          <i class="fa fa-envelope fa-fw w3-margin-right"></i>Add a school</a>
      </div>
    </nav>


    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large w3-animate-opacity" (click)="w3_close()" style="cursor:pointer"
      title="close side menu" id="myOverlay"></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:300px">
      <div class="w3-container" style="margin-bottom:32px">
        <router-outlet></router-outlet>
      </div>
      <!-- End page content -->
    </div>
  </div>


</body>