<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter"
                    (click)="handleCreateSchool.emit( )">
                    Add New School
                </button>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" [formGroup]="searchForm" (ngSubmit)="searchHandler(searchForm)">
            <div class="btn-group">
                <input formControlName="keyword" id="searchinput" type="search" class="form-control"
                    placeholder="Search here">
                <span id="searchclear" class="glyphicon glyphicon-remove-circle"
                    (click)="clearSearchHandler.emit(  )"></span>
            </div>

        </form>
        <button class="btn btn-outline-danger my-2 my-sm-0 ml-1" (click)="clearSearchHandler.emit(  )">Clear</button>

    </div>
</nav>