<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="/">School Management Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2 pr-5">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Schools</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://documenter.getpostman.com/view/14239685/TVzXBaa5"
                        target="blank">API
                        Documentation</a>
                </li>

            </ul>
        </div>
    </div>

</nav>