<div class="container">
    <app-schools-header [searchForm]="searchForm" (handleCreateSchool)="handleCreateSchool()"
        (handleSearchSchools)="handleSearchSchools($event)" (clearSearchHandler)="clearSearchHandler()">
    </app-schools-header>

    <app-school-list [schools]="schools" [selectedSchool]="selectedSchool" [page]="page"
        (handleUpdate)="handleUpdate($event)" (deleteConfiramtionHandler)="deleteConfiramtionHandler($event)"
        (handleGetSchools)="handleGetSchools($event)">
    </app-school-list>

    <app-school [form]="form" [isUpdate]="isUpdate" [selectedSchool]="selectedSchool" [page]="page"
        [selectedSchoolID]="selectedSchoolID" (handleGetSchools)="handleGetSchools($event)"></app-school>

    <app-delete-school [selectedSchool]="selectedSchool" (deleteCancelHandler)="deleteCancelHandler()"
        (handleDelete)="handleDelete()"></app-delete-school>

</div>