<div class="container">

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter"
        (click)="handleCreateSchool( )">
        Add
    </button>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>School Name</th>
                <th>Address</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let school of schools
            ">
                <td>{{ school.name}}</td>
                <td>
                    {{ school.address.street + " " + school.address.suburb + " " + school.address.postcode + " "+
                    school.address.state }}
                </td>
                <td>
                    <button (click)="handleUpdate( school )" data-toggle="modal" type="button"
                        data-target="#exampleModalCenter">
                        Update
                    </button>
                    <button data-toggle="modal" data-target="#deleteSchool"
                        (click)="deleteConfiramtionHandler( school )">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <nav aria-label="...">
        <ul class="pagination pagination-sm">
            <li class="page-item ">
                <a class="page-link" tabindex="-1">1</a>
            </li>
            <li class="page-item"><a class="page-link">2</a></li>
            <li class="page-item"><a class="page-link">3</a></li>

            <li *ngFor=" let page of " class="page-item"><a class="page-link">2</a></li>

        </ul>
    </nav>


    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle" *ngIf="isUpdate"> Update School</h5>
                    <h5 class="modal-title" id="exampleModalCenterTitle" *ngIf="!isUpdate"> Add School</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="forName">Name</label>
                                <input formControlName="name" type="text" class="form-control" id="name"
                                    placeholder="name">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="registedStudents">Registered Students </label>
                                <input formControlName="registedStudents" type="text" class="form-control" id="name"
                                    placeholder="name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAddress">Street</label>
                            <input formControlName="street" type="text" class="form-control" id="inputAddress"
                                placeholder="1234 Main St">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputCity">City</label>
                                <input formControlName="suburb" type="text" class="form-control" id="inputCity">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputState">State</label>
                                <input formControlName="state" type="text" class="form-control" id="inputState">
                            </div>
                            <div class="form-group col-md-2">
                                <label for="inputZip">Zip</label>
                                <input formControlName="postcode" type="text" class="form-control" id="inputZip">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                        (click)="onSubmit(form)">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="deleteSchool" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle"> Delete School</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure want to delete {{selectedSchool?.name}} ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        (click)="deleteCancelHandler()">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                        (click)="handleDelete()">Delete</button>
                </div>
            </div>
        </div>
    </div>

</div>